{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>Naufal's Story 9</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% load crispy_forms_tags %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Naufal's story 10</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                {% if not user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>

          <div class="Welcome1">
            {% if user.is_authenticated %}
            <h1>Welcome, {{ user.get_username }}. Thanks for logging in.</h1>
            <h5>This is just a show case of the site, logout <a href="/logout">here</a></h5>
            {% else %}
            <h1>Welcome, new user. Please log in.</h1>
            <a href="/login"><button class="btn btn-success">Here</button></a>
            {% endif %}
            
          </div>
    </body>
</html>