.form-register {
    position: absolute;
    left: auto;
    padding: 40px;
    padding-left: 0;
    padding-left: 34%;
    padding-right: 34%;
    padding-top: 0;
    margin-top: 40px;
    margin: 0;
    height: auto;
    text-align: center;
    width: auto;
}

.form-login {
    position: absolute;
    left: 36%;
    right: 36%;
    padding: 40px;
    padding-top: 0;
    margin-right: 25%;
    margin: 40px;
    height: 400px;
    text-align: center;
    width: 300px;
}


.Welcome {
    text-align: center;
    padding-top: 30px;
}



.Welcome1 {
    margin-top: 200px;
    text-align: center;
    padding-top: 30px;
}

.error-login {
    text-align: center;
    padding: 50px;
}